include card.pug

doctype html
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='style.css')
        title T-Task
    body.global-container
        <p><a name="begining"></a></p>
        header.header
            .container
                <p><a name="main"></a></p>
                .header__flex-container
                    .header__logo-menu
                        img(src="img/logo.png" alt="logo")
                        ul.header__menu-list
                            li.header__menu-item
                                a.header__menu-href(href="#main") Main
                            li.header__menu-item
                                a.header__menu-href(href="#gallery") Gallery
                            li.header__menu-item
                                a.header__menu-href(href="#news") News
                            li.header__menu-item
                                a.header__menu-href(href="#profile") Profile
                    .header__phone
                        span.header__number +544 3490 00000
                        span.header__number-text Звони скорее!
                    .header__burger
                            .header__burger-item
                            .header__burger-item
                            .header__burger-item
                p.header__test-attention Найдено 349 котов
        section.cats
            .container
                <p><a name="gallery"></a></p>
                .cats__sorting
                    p.cats__sorting-text Сортировать по:
                    .cats__price.cats__sorting-item-text Цене
                        .cats__sorting-wrapper-price
                            p.cats__ascending_price По возрастанию
                            p.cats__descending_price По убыванию
                    .cats__age.cats__sorting-item-text Возрасту
                        .cats__sorting-wrapper-age
                            p.cats__ascending_age По возрастанию
                            p.cats__descending_age По убыванию
                .cards-container
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '30 000 руб.', false, 'cat1', true, '-40%')
                    +card('Кот полосатый', 'Коричневый окрас', '3 мес.', '4', '40 000 руб.', true, 'cat2', false)
                    +card('Кот полосатый', 'Коричневый окрас', '1 мес.', '4', '20 000 руб.', false, 'cat3', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '25 000 руб.', false, 'cat1', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '30 000 руб.', false, 'cat3', true, '-40%')
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '10 000 руб.', true, 'cat2', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '30 000 руб.', false, 'cat1', true, '-40%')
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '40 000 руб.', true, 'cat2', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '20 000 руб.', false, 'cat3', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '25 000 руб.', false, 'cat1', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '30 000 руб.', false, 'cat3', true, '-40%')
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '10 000 руб.', true, 'cat2', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '30 000 руб.', false, 'cat1', true, '-40%')
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '40 000 руб.', true, 'cat2', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '20 000 руб.', false, 'cat3', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '25 000 руб.', false, 'cat1', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '30 000 руб.', false, 'cat3', true, '-40%')
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '10 000 руб.', true, 'cat2', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '30 000 руб.', false, 'cat1', true, '-40%')
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '40 000 руб.', true, 'cat2', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '20 000 руб.', false, 'cat3', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '25 000 руб.', false, 'cat1', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '30 000 руб.', false, 'cat3', true, '-40%')
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '10 000 руб.', true, 'cat2', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '30 000 руб.', false, 'cat1', true, '-40%')
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '40 000 руб.', true, 'cat2', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '20 000 руб.', false, 'cat3', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '25 000 руб.', false, 'cat1', false)
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '30 000 руб.', false, 'cat3', true, '-40%')
                    +card('Кот полосатый', 'Коричневый окрас', '2 мес.', '4', '10 000 руб.', true, 'cat2', false)
                .buttons-wrapper
                    button.show-more Показать еще 20
                    a(href="#begining").button-up
        .container-footer
            <p><a name="news"></a></p>
            footer.footer
                .footer__text
                    p.footer__header Успей купить!
                    p.footer__discount Подпишись и успей словить все акции
                form(action="https://echo.htmlacademy.ru/", method="post").footer__mail-subscribe
                    .footer__input-button
                        input.footer__input-mail(type="email" name="email" placeholder="Email")
                        input(type="submit", value="Подписаться").footer__subscribe
                    label.footer__label-checkbox
                        input.footer__input-checkbox(type="checkbox" name="подписка_на_новости" checked)
                        span.footer__fake
                        span.footer__input-text Подписаться на новости
        script(src="main.js")
        